<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/masonry.js?id=1"></script>
    <script src="js/tmpl.js"></script>
    <!--[if IE 8]><link href="css/style-ie.css" rel="stylesheet" ><![endif]-->
    <!--[if IE 8]><script type="text/javascript" src="js/html5shiv.js"></script><![endif]-->
    <!--[if IE 8]><script type="text/javascript" src="js/respond.js"></script><![endif]-->
    <!--[if IE 8]><script type="text/javascript" src="js/masonry-ie.js"></script><![endif]-->
  </head>
  <body>
    <header>
      <div class="header__block">
        <div class="header__block__reg">
          <button class="header__block__reg-log">
            Log In
          </button>
          <button class="header__block__reg-sign">
            Sign up
          </button>
        </div>
        <span class="header__block-title">
          URLAUBSGLÜCK
        </span>
      </div>
    </header>
    <section class="info">
      <div class="info__block">
        <span class="info__block-title">
          SHARE YOUR HOLIDAY DREAMS
        </span>
        <span class="info__block-text">
          And find the perfect partner to fullfill it
        </span>
        <button class="info__block-find">
          Find your holiday partners
        </button>
      </div>
    </section>
    <section class="instruction">
      <span class="instruction__title">
        How Urlaubsglück works?
      </span>
      <div class="instruction__block">
        <figure class="instruction__block__card">
          <span class="instruction__block__card-button-right-first"></span>
          <div class="carousel-hider">
            <ul class="carousel-list-first">
              <li class="carousel-element">
                <img src="img/slider-first.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-first.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-first.png" alt="" class="instruction__block__card-image">
              </li>
            </ul>
          </div>
          <span class="instruction__block__card-button-left-first"></span>
          <div class="instruction__block__card__block">
            <div class="instruction__block__card__block-step">
              STEP 1
            </div>
            <figcaption class="instruction__block__card__block-title">
              Sed leo enim, condimentum
            </figcaption>
            <div class="instruction__block__card__block-description">
              Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
            </div>
          </div>
        </figure>
        <figure class="instruction__block__card">
          <span class="instruction__block__card-button-right-middle"></span>
          <div class="carousel-hider">
            <ul class="carousel-list-middle">
              <li class="carousel-element">
                <img src="img/slider-second.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-second.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-second.png" alt="" class="instruction__block__card-image">
              </li>
            </ul>
          </div>
          <span class="instruction__block__card-button-left-middle"></span>
          <div class="instruction__block__card__block">
            <div class="instruction__block__card__block-step">
              STEP 2
            </div>
            <figcaption class="instruction__block__card__block-title">
              Morbi velit risus
            </figcaption>
            <div class="instruction__block__card__block-description">
              Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            </div>
          </div>
        </figure>
        <figure class="instruction__block__card">
          <span class="instruction__block__card-button-right-last"></span>
          <div class="carousel-hider">
            <ul class="carousel-list-last">
              <li class="carousel-element">
                <img src="img/slider-third.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-third.png" alt="" class="instruction__block__card-image">
              </li>
              <li class="carousel-element">
                <img src="img/slider-third.png" alt="" class="instruction__block__card-image">
              </li>
            </ul>
          </div>
          <span class="instruction__block__card-button-left-last"></span>
          <div class="instruction__block__card__block">
            <div class="instruction__block__card__block-step">
              STEP 3
            </div>
            <figcaption class="instruction__block__card__block-title">
              Sed leo enim, condimentum
            </figcaption>
            <div class="instruction__block__card__block-description">
              Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
            </div>
          </div>
        </figure>
      </div>
    </section>
    <section class="partners">
      <span class="partners__title">
        Meet a partner for your best holiday
      </span>
      <div class="partners__block">
        <figure class="partners__block__card">
          <img src="img/hunter.png" alt="" class="partners__block__card-image">
          <span class="partners__block__card-icon1"></span>
          <figcaption class="partners__block__card-name">
            Bradley Hunter
          </figcaption>
          <div class="partners__block__card-description">
            Based in Chicago. I love playing tennis and loud music.
          </div>
        </figure>
        <figure class="partners__block__card">
          <img src="img/marsha.png" alt="" class="partners__block__card-image">
          <span class="partners__block__card-icon2"></span>
          <figcaption class="partners__block__card-name">
            Lucas Marsha
          </figcaption>
          <div class="partners__block__card-description">
            I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
          </div>
        </figure>
        <figure class="partners__block__card">
          <img src="img/walker.png" alt="" class="partners__block__card-image">
          <span class="partners__block__card-icon3"></span>
          <figcaption class="partners__block__card-name">
            Heather Walker
          </figcaption>
          <div class="partners__block__card-description">
            I'm a happy person that loves cats and climbing on mountains.
          </div>
        </figure>
        <figure class="partners__block__card">
          <img src="img/hunter-woman.png" alt="" class="partners__block__card-image">
          <span class="partners__block__card-icon4"></span>
          <figcaption class="partners__block__card-name">
            Bradley Hunter
          </figcaption>
          <div class="partners__block__card-description">
            Based in Chicago. I love playing tennis and loud music.
          </div>
        </figure>
        <div class="partners__block__button">
          <button class="partners__block__button-search">
            See other partners
          </button>
        </div>
      </div>
    </section>
    <main class="ideas">
      <span class="ideas__title">
        Discover holiday activity ideas
      </span>
      <script type="text/template" id="ideas__block-result">
        <div class="grid">
      		<% for ( var i = 0; i < 10; i++) { %>
      			<figure class="grid-item">
              <img src="<%= data.hits[i].webformatURL %>" >
              <figcaption class="ideas__image-title"><%= data.hits[i].tags.split(', ')[1] %></figcaption>
            </figure>
      		<% }; %>
        </div>
    	</script>
      <div class="ideas__block">
      </div>
      <span class="ideas__title">
        Discover holiday activity ideas
      </span>
      <span class="ideas__question">
        Hi! What are your holiday interests?
      </span>
      <div class="ideas__search-block">
        <input type="text" class="ideas__search" placeholder="Enter your interests">
        <button class="ideas__button-search">
          Search partners
        </button>
      </div>
    </main>
    <footer>
      <div class="footer-wrapper">
        <span class="footer__brend">
          URLAUBSGLÜCK
        </span>
        <div class="footer__company">
          <span class="footer__company-title">
            Company
          </span>
          <ul class="footer__company__list">
            <li><a href="">About</a></li>
            <li><a href="">Contacts</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="footer__partners">
          <span class="footer__partners-title">
            Partners
          </span>
          <a href="" class="footer__partners-logo"></a>
        </div>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
