* {
  padding: 0px;
  margin: 0px;
}
header {
  height: 870px;
  width: 100%;
  background-image: url(../img/header.jpg);
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  position: relative;
}
.logo {
  text-align: center;
  color: #fff;
  font-size: 48px;
  padding-top: 70px;
}
.menu-home {
  width: 70px;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 8px;
  border-bottom: 2px solid #edbfff;
}
.slider {
  width: 320px;
  margin: 0 auto;
  margin-top: 120px;
}
.above-text {
  display: block;
  font-size: 36px;
  color: #fefefe;
}
.below-text {
  display: block;
  font-size: 18px;
  color: #edbfff;
}
.shape {
  width: 83px;
  height: 18px;
  background-image: url(../img/shape.png);
  margin: 0 auto;
  margin-top: 80px;
}
section {
  height: 600px;
  width: 100%;
  background-image: url(../img/section-background.png);
  position: absolute;
  top: 515px;
  left: 0;
  z-index: 3;
}
.about-company {
  margin: 0 auto;
  width: 265px;
}
.about-company__item {
  clear: both;
}
.about-company__icon {
  display: block;
  float:left;
  background-image: url(../img/icon.png);
  background-position: 0 30px;
  width: 28px;
  height: 28px;
}
.about-company__block {
  float: right;
  width: 220px;
}
main {
  height: 1790px;
  width: 100%;
  background-color: #f9f9f9;
  position: absolute;
  top: 515px;
  left: 0;
  box-shadow: 0 0 10px black;
  z-index: 2;
}
.testimonia {
  width: 300px;
  margin: 0 auto;
  margin-top: 600px;
  position: relative;
}
.testimonia__icon {
  width: 50px;
  height: 50px;
  background-image: url(../img/man.png);
  position: absolute;
  left: -25px;
  top: 20px;
}
.testimonia__block {
  width: 256px;
  height: 275px;
  background-color: #ffffff;
  padding: 40px;
}
.navigation-testimonia {
  display: block;
  margin: 0 auto;
  background-image: url(../img/nav-icon.png);
  width: 80px;
  height: 15px;
}
.blog-post {
  margin: 0 auto;
  width: 280px;
}
.blog-post__block {
  padding: 5px 15px 15px 15px;
  width: 230px;
  float: right;
  box-sizing: border-box;
}
.blog-post__img {
  display: block;
  float: left;
  background-image: url(../img/img-blog.png);
  width: 50px;
  height: 50px;
}
.logos-img__item1 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/logos-img1.png);
  background-repeat: no-repeat;
  width: 230px;
  height: 100px;
}
.logos-img__item2 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/logos-img2.png);
  background-repeat: no-repeat;
  width: 230px;
  height: 100px;
}
.logos-img__item3 {
  display: block;
  margin: 0 auto;
  background-image: url(../img/logos-img3.png);
  background-repeat: no-repeat;
  width: 230px;
  height: 100px;
}
footer {
  clear: both;
  width: 100%;
  height: 1380px;
  background-image: url(../img/footer-new.png);
  position: absolute;
  top: 1000px;
  left: 0;
}
.sign-design {
  text-align: center;
  margin-top: 1317px;
}
