.partners__block__card-icon4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -56px;
  display: block;
  width: 41px;
  height: 40px;
}
.partners__block__card-icon3 {
  background-image: url(../img/sprite.png);
  background-position: -120px 0px;
  display: block;
  width: 40px;
  height: 40px;
}
.partners__block__card-icon2 {
  background-image: url(../img/sprite.png);
  background-position: -41px -56px;
  display: block;
  width: 41px;
  height: 40px;
}
.icon-left-arrow-cursor {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 56px;
}
.icon-left-arrow-default {
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 56px;
}
.icon-right-arrow-cursor {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 30px;
  height: 56px;
}
.icon-right-arrow-default {
  background-image: url(../img/sprite.png);
  background-position: -90px 0px;
  width: 30px;
  height: 56px;
}
.partners__block__card-icon1 {
  background-image: url(../img/sprite.png);
  background-position: -120px -40px;
  display: block;
  width: 40px;
  height: 40px;
}
