.header__block {
  width: 1000px;
}
.header__block-title {
  float: left;
  margin-top: 30px;
  margin-left: 45px;
}
.instruction__block {
  width: 1000px;
}
.partners__block {
  width: 1000px;
}
.partners__block__card {
  margin-left: 20px;
}
.ideas__block {
  width: 1000px;
  margin: 0 auto;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}
