* {
  box-sizing: border-box;
}
body {
  position: relative;
}
header {
  position: absolute;
  width: 100%;
}
figure {
  margin: 0;
}
.header__block {
  width: 320px;
  margin: 0 auto;
}
.header__block-title {
  display: block;
  margin-top: 90px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-top: 85px;
  font-family: 'Montserrat_bold';
}
.header__block__reg {
  margin: 0 auto;
  width: 190px;
  padding: 20px;
  margin-left: 50px;
}
.header__block__reg-log {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Montserrat_bold';
}
.header__block__reg-sign {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Montserrat_bold';
}
.header__block__reg-log:hover,
.header__block__reg-sign:hover {
  border-radius: 25px;
  border: 2px solid #ffffff;
}
.info {
  background-image: url(../img/top-image.jpg);
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.info__block {
  margin: 0 auto;
  width: 320px;
  margin-top: 230px;
}
.info__block-title {
  display: block;
  margin-top: -8px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat_bold';
}
.info__block-text {
  display: block;
  margin-top: -13px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto_light';
}
.info__block-find {
  display: block;
  margin: 0 auto;
  margin-top: -9px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff4e50;
  width: 280px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  font-family: 'Montserrat_bold';
}
.partners__block__card {
  position: relative;
}
.instruction {
  width: 100%;
}
.instruction__title {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 22px;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat_bold';
}
.instruction__block {
  margin: 0 auto;
  width: 98%;
  overflow: hidden;
}
.instruction__block__card {
  position: relative;
  width: 98%;
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  // background: linear-gradient(to top, #000000 , #ffffff);
}
.instruction__block__card__block {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 15px 10px 22px;
}
.instruction__block__card-image {
  border-radius: 5px;
  height: 245px;
  width: 100%;
}
.instruction__block__card__block-step {
  width: 55px;
  margin-bottom: 15px;
  font-size: 10px;
  background-color: #ff4e50;
  padding: 10px;
  color: #ffffff;
  border-radius: 20px;
  font-family: 'Montserrat_regular';
}
.instruction__block__card__block-title {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Montserrat_bold';
}
.instruction__block__card__block-description {
  color: #cccccc;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: 'Roboto_light';
}
.carousel-list-first,
.carousel-list-middle,
.carousel-list-last {
    li {
      display: none;
    }
    li:last-child {
      display: block;
    }
}
.partners {
  width: 100%;
}
.partners__title {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 27px;
  font-size: 22px;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat_bold';
}
.partners__block {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}
.partners__block__card {
  position: relative;
}
.partners__block__card-image {
  display: block;
  width: 125px;
  margin: 0 auto;
}
.partners__block__card-icon1 {
  position: absolute;
  top: 90px;
  left: 175px;
}
.partners__block__card-icon2 {
  position: absolute;
  top: 90px;
  left: 175px;
}
.partners__block__card-icon3 {
  position: absolute;
  top: 90px;
  left: 175px;
}
.partners__block__card-icon4 {
  position: absolute;
  top: 90px;
  left: 175px;
}
.partners__block__card-name {
  color: #333333;
  text-align: center;
  font-family: 'Montserrat_bold';
  padding: 10px;
}
.partners__block__card-description {
  color: #666666;
  text-align: center;
  font-family: 'Roboto_light';
}
.partners__block__button-search {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 14px;
  color: #ff4e50;
  background-color: #ffffff;
  width: 280px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  font-family: 'Montserrat_bold';
}
.ideas {
  width: 100%;
}
.ideas__block {
  margin: 10px;
}
.ideas__title {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 22px;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat_bold';
}
.ideas__image-title {
  position: absolute;
  top: 45%;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Montserrat_bold';
}
.ideas__question {
  display: block;
  font-size: 18px;
  color: #333333;
  text-align: center;
  font-family: 'Roboto_light';
  padding: 10px;
}
.ideas__search {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  font-family: 'Roboto_light';
  color: #999999;
  font-size: 14px;
  text-indent: 10px;
}

.ideas__button-search {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff4e50;
  width: 280px;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  font-family: 'Montserrat_bold';
  margin-top: 14px;
  margin-bottom: 40px;
}
.ideas__block-result {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  float: left;
  position: relative;
}

.grid-item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
}

// .grid-item {
//   width: 31,2%;
// }
footer {
  border-top: 3px solid #ff4e50;
}
.footer__brend {
  display: block;
  font-size: 18px;
  color: #ff4e50;
  text-align: center;
  font-family: 'Montserrat_bold';
  margin-top: 16px;
}
.footer__company {
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}
.footer__partners {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.footer__company-title {
  display: block;
  text-align: center;
  color: #333333;
  font-family: 'Montserrat_bold';
  margin-top: 0px;
}
.footer__partners-title {
  display: block;
  color: #333333;
  text-align: center;
  font-family: 'Montserrat_bold';
  margin-top: 3px;
}
.footer__company__list {
  display: block;
  width: 210px;
  margin: 0 auto;

  li {
    display: inline;
    padding: 5px;
  }
  a {
    text-decoration: none;
    color: #666666;
    font-family: 'Roboto_light';
  }
}
.footer__partners-logo {
  display: block;
  background-image: url(../img/logo-design.png);
  width: 110px;
  height: 42px;
  margin: 0 auto;
  margin-right: 105px;
  margin-top: 13px;
}
