.header__block {
  width: 100%;
}
.header__block-title {
  float: left;
  margin-top: 46px;
  margin-left: 45px;
}
.header__block__reg {
  float: right;
  width: 204px;
	margin-top: 15px;
	margin-right: 32px;
}
.header__block__reg-sign {
	margin-left: 8px;
}
.info {
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
}
.info__block {
  width: 500px;
  margin-top: 222px;
}
.info__block-title {
  font-size: 52px;
}
.info__block-text {
  font-size: 24px;
  margin-top: 1px;
}
.info__block-find {
	width: 230px;
	margin-top: 15px;
}
.carousel-list-first,
.carousel-list-middle,
.carousel-list-last {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;

    li {
      display: block;
    }
}
.carousel-hider {
    width: 320px;
    overflow: hidden;
    float: left;
}
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
.instruction__title {
  width: 100%;
  margin-top: 95px;
}
.instruction__block {
	margin-top: 23px;
}
.instruction__block__card {
  position: relative;
  width: 32%;
  height: 400px;
  float: left;
  margin-top: 10px;
  margin-left: 1%;
  overflow: hidden;
}
.instruction__block__card-image {
  width: 315px;
  height: 400px;
}
.instruction__block__card-button-left-first,
.instruction__block__card-button-left-middle,
.instruction__block__card-button-left-last {
  position: absolute;
  top: 40px;
  left: 10px;
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 56px;
  cursor: pointer;
  z-index: 10;
}
.instruction__block__card-button-right-first,
.instruction__block__card-button-right-middle,
.instruction__block__card-button-right-last {
  position: absolute;
  top: 40px;
  right: 10px;
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -90px 0px;
  width: 30px;
  height: 56px;
  cursor: pointer;
  z-index: 10;
}
.instruction__block__card-button-left-first:hover,
.instruction__block__card-button-left-middle:hover,
.instruction__block__card-button-left-last:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 56px;
}
.instruction__block__card-button-right-first:hover,
.instruction__block__card-button-right-middle:hover,
.instruction__block__card-button-right-last:hover {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 30px;
  height: 56px;
}
.instruction__block__card__block {
  padding: 0 10px 10px 30px;
}
.instruction__block__card__block-step {
	margin-bottom: 14px;
	width: 70px;
	padding: 3px 10px 4px 10px;
}
.partners__title {
  width: 100%;
  margin-top: 96px;
}
.partners__block {
  width: 460px;
  margin-top: 30px;
}
.partners__block__card {
  width: 230px;
  float: left;
}
.partners__block__card-name {
	margin-top: 7px;
}
.partners__block__button {
  width: 100%;
  overflow: hidden;
}
.partners__block__button-search {
  width: 195px;
  margin-top: 80px;
}
.partners__block__card-icon1,
.partners__block__card-icon2,
.partners__block__card-icon3,
.partners__block__card-icon4 {
  left: 143px;
}
.ideas__block {
  margin-top: 30px;
}
.ideas__title {
  width: 100%;
  margin-top: 96px;
}
.ideas__question {
	margin-top: 20px;
}
.ideas__search-block {
  width: 410px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 27px;
}
.ideas__search {
  float: left;
  width: 240px;
}
.ideas__button-search {
  float: left;
  width: 160px;
  margin-top: 0px;
  margin-left: 10px;
}
.grid-sizer,
.grid-item {
  width: 33%;
  float: left;
}
footer {
	margin-top: 60px;
}
.footer-wrapper {
  width: 700px;
  margin: 0 auto;
  margin-top: 16px;
}
.footer__brend {
  float: left;
  margin-left: 6px;
}
.footer__company {
  float: left;
  margin-left: 70px;

  li {
    display: list-item;
    list-style: none;
  }
}
.footer__company-title {
  text-align: left;
  margin-left: 8px;
}
.footer__company__list {
  width: 100px;
  margin-left: 4px;
}
.footer__partners {
  float: left;
  margin-left: 73px;
}
.footer__partners-title {
  float: left;
}
.footer__partners-logo {
  float: left;
  margin-left: 122px;
  margin-right: 0px;
}
